@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --primary-disabled: rgba(120, 152, 255, 0.616);
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
  --input-ok: rgba(172, 255, 47, .3); 
  --input-not-ok: rgba(255, 0, 0, .3); 
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}